@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?245i8y');
  src:  url('fonts/icomoon.eot?245i8y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?245i8y') format('truetype'),
    url('fonts/icomoon.woff?245i8y') format('woff'),
    url('fonts/icomoon.svg?245i8y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-drupal:before {
  content: "\e903";
}
.ic-ux:before {
  content: "\e904";
}
.ic-product-engg .path1:before {
  content: "\e905";
  color: rgb(0, 0, 0);
}
.ic-product-engg .path2:before {
  content: "\e906";
  margin-left: -0.71484375em;
  color: rgb(255, 255, 255);
}
.ic-product-engg .path3:before {
  content: "\e907";
  margin-left: -0.71484375em;
  color: rgb(0, 0, 0);
}
.ic-product-engg .path4:before {
  content: "\e908";
  margin-left: -0.71484375em;
  color: rgb(0, 0, 0);
}
.ic-ror:before {
  content: "\e901";
}
.ic-js:before {
  content: "\e902";
}
.ic-angular:before {
  content: "\e900";
}

