/*================================ select packages ============================*/
.price-section {
	h2 {
		text-align: center;
	}	
}

.price-items {
	p {
		font-size: 1.4em;
	}
	.item {		
		color: $white;
		background-color: $primary-bold;		
		text-align: center;		
		box-shadow: 1px 2px 6px #7B7B7B;
		@include breakpoint(768px){
			@include span(6);
		}
		@include breakpoint(1024px){
			@include span(4);
		}
	}
	.plan {
		padding: 20px;
	}
	.price{
		strong{
			font-size: $size50;
			color: $gray-light;
			line-height: 60px;
		}
		sup {
			vertical-align: top;
			font-size: 2.5em;
		}
	}
	ul {
		background-color: $gray-light-bg;
		color: $gray-dark;
		text-align: left;
    	padding: 20px 20px 20px 50px;
		li {
			line-height: 35px;
			font-size: 1.4em;
			list-style-image: url(../images/list-icon.png);
		}
	}
	input[type="radio"]{
		display: none;
		& + label {
			display: block;
			padding: 15px 0px;
			font-size: 1.5em;
			line-height: 1.5em;
			&:before{
				border: 1px solid #fff;
				width: 20px;
				height: 20px;
				display: inline-block;
				content: "";
				vertical-align: middle;
				margin-right: 5px;
			}
		}
		&:checked{
			& + label:before{
				content: "\2713";
			}
		}
	}
}

.user-info-block {
	display: none;
	padding-bottom: 30px;
	.form-control {
		margin-bottom: 15px;
	}
}

.user-info-payment {
	@include span(6);
	@include box-sizing(border-box);
	border-right: 1px solid $gray-dark;
	h3 {
		font-size: 2em;
		margin-bottom: 20px;
	}
	.user-details {
		p {
			font-size: 1.4em;
			color: $gray-dark;
			margin-bottom: 5px;
			text-align: center;
		}
		label {
			font-size: 1.4em;
			min-width: 80px;
			display: inline-block;
		}
		.btn-submit  {
			@include button-style(1px solid $secondry-bold, $size16, 9px 12px, $white);
			display: inline-block;
		}
	}	
}

.user-domain-name {
	@include span(6);
	span,
	label {
		font-size: 1.4em;		
		display: inline-block;
	}
	label {
		width: 190px;
	}
	input[type="text"] {
		width: 150px;
	}
	span {
		margin-left: 10px;
		margin-right: 10px;
	}
	.own-domain-text {
		margin-right: 15px;
		display: none;
	}
}

.checkout {
		background-color: $gray-light-bg;
		padding: 50px 0 30px;
		display: none;
	}
	
.payment-option {
	ul {
		padding-left: 21px;
		border-bottom: 1px solid #fff;
		padding-bottom: 6px;
	}
	li {
		display: inline-block;
		margin-right: 20px;
		img {
			vertical-align: middle;
			margin-top: -10px;
		}
	}
	fieldset {
		margin-bottom: 15px;
		label {
			width: 190px;
			float: left;		
		}
		span, label {
			line-height: 31px;
    		font-size: 1.4em;
		}
	}	
	.expiry-date {
		input[type="text"] {
			width: 90px;
		}
	}	
}

.card-payment-block,
.paypal-payment-block {
	padding: 20px;		
}

.paypal-payment-block {
	display: none;
}

.checkout-now {
	border-top: 1px solid #fff;
    padding-top: 10px;
    padding-left: 210px;

	.btn-submit {
		@include button-style(1px solid $secondry-bold, $size16, 9px 12px, $white);
	}
}