/*================================ footer-section ============================*/
.footer-section {
	padding: 50px 0px;
	background-color: $secondry-bold;
	color: $white;

	a {
		color: $white;
		font-size: 1.4em;
	}
	h4 {
		border-bottom: 1px solid $gray-light-bg;		
    	padding-bottom: 10px;
		@include breakpoint(320px){
			@include span(12);
		}
	}
	ul li {
		line-height: 30px;
		@include breakpoint(320px){
			@include span(12);
		}
		@include breakpoint(480px){
			@include span(6);
		}
		@include breakpoint(768px){
			@include span(4);
		}
		@include breakpoint(1024px){
			@include span(3);
		}
		
	}
}

/*================================ footer-section-copywrite ============================*/
.copy-write-footer{
	padding: 10px 0px;
	.copy-write {
		@include breakpoint(320px){
			@include span(12);
		}
		@include breakpoint(768px){
			@include span(6);
		}
		p {
			margin-bottom: 0px;
		}
	}
	.more-links-footer {
		@include breakpoint(320px){
			@include span(12);
		}
		@include breakpoint(768px){
			@include span(6);
			ul{
				float: right;				
			}
			li {
				float: left;
				margin-left: 15px;
				a {
					font-size: 1.4em;
				}
			}
		}
	}
}