/* Small Desktops ----------- */
@media only screen and (min-width : 1025px) and (max-width : 1199px) {
	.sidebar {
		max-width: 260px;
	}

	.top-header .row {
		min-width: 1000px;
		max-width: 1200px;
	}

	.brand-col .logo {
		padding: 25px 5%;
	}

	.page-section aside {
		padding-right: 0;
	}

	.column-list .entry {
		width: 60%;
	}

	.square-ad {
		width: 100%;
		height: auto;
		padding-right: 25px;
    	box-sizing: border-box;
	}

	.square-ad img {
		width: 100%;
		height: auto;
	}

	.block.current-issue {
    margin-right: 25px;
	}

	.sidebar-articles li .entry {
    	width: 40%;
	}
	.col.col-nav {
		width: 60%;
		overflow: hidden;
	}
}		


/* ipad ----------- */
/*@media only screen and (min-width : 700px) and (max-width : 1024px)*/
@media only screen and (max-width : 1024px) {
	ul.primary-nav {
    position: fixed;
    width: 40%;
    display: block;
    right: 0;
    background: #fff;
    top: 0;
    box-shadow: -1px 1px 5px rgba(0,0,0,0.2);
    right: -40%;
	}

	.doc-wrap {
		overflow: hidden;
	}

	button.menu-trigger {
    display: block;
    float: right;
    margin-right: 25px;
    border: none;
    background: #fff;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    color: #000;
	font-size: 24px;
	outline: none;
	}

	.subscribe-link .current-issue {
		height: 55px;
	}

	.top-header {
		height: 80px;
	}

	.col.col-nav {
		position: relative;
	}
	.brand-col .logo,
	.subscribe-col, 
	.col.col-nav {
		height: 80px;
		box-sizing: border-box;
	}

	.col-nav .main-nav {
		position: absolute;
		width: 30px;
		height: 80px;
		border: none;
		right: 0;
		top: 0;
	}

	button.menu-trigger {
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.search-block .search-field input {
		position: fixed;
		left: 0;
		top: 80px;
		width: 100%;
		background: #fff;
		padding: 10px;
		box-sizing: border-box;
		height: 60px;
		border: solid 1px #ddd;
		display: none;

	}
	
	.search-block .search-field {
	    width: 30px;
	    height: 80px;
	    box-sizing: border-box;
	    margin: 0;
	    padding: 0;
	    border-radius: 0;
	    position: absolute;
	    right: 60px;
	    top: 0;
	    font-size: 20px;
	    border: none;
	}

	.col-nav .top-bar {
    height: 80px;
    border: none;
    padding: 0 20px;
	}

	.top-bar .current-date {
	    font-size: 11px;
	    width: 32%;
	    height: 80px;
	    line-height: 80px;
	    box-sizing: border-box;
	    margin: 0;
	    padding: 0;    
	}

	.top-bar .social-links {
	    width: 40%;
	    padding: 0;
	    margin: 0;
	    height: 80px;
	    border-right: solid 1px #ddd;
	    padding-right: 10px;
    box-sizing: content-box;
	}

	.top-header .brand-col .logo {
		padding: 25px 20px;
	}

	.logo img {
		height: 30px;
	}

	.subscribe-col {
		padding: 7px 15px 0;
	}

	.top-header .col {
		height: 80px;
	}

	.top-bar .social-links li a {
    display: inline-block;
    line-height: 80px;
    padding: 0 3px;
	}

	.search-block .search-field button {
		height: 80px;
		line-height: 80px;
		outline: none;
	}

	button.menu-trigger {
		height: 80px;
		line-height: 80px;
		box-sizing: border-box;
    padding-top: 2px;
	}
	.doc-wrap {
		padding-top: 80px;
	}

	

	.page .row [class*="col-"] {
		display: block;
		width: 100%;
	}

	.page-wrap {
		display: block;
	}
}		