/*===============================================
=            Open Magazine Prototype            =
===============================================*/

/* Author: Roshan Ravi*/
/* Contact: roshan.ravi@srijan.in */


/*===================================
=            Base Styles            =
===================================*/

/**
 *
 * Sans Serif : 'Roboto', Helvetica, Arial, sans-serif
 * Serif : Georgia, Times, "Times New Roman", serif
 * Headings : "Roboto Slab", sans-serif
 *
 */



body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 12px;
	background: #fff;
	border-top: solid 1px #ddd;
}

p {
	line-height: 1.4;
}


h1, h3, h4 {
	font-family: "Roboto Slab", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 1em;
}

figure {
	padding: 0;
	margin: 0;
}

a, a:visited, a:active {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #e50b16;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	transition: all 0.15s ease-in-out;
}

a:after,
a:before {
	transition: all 0.15s ease-in-out;
}

.red {
	color: #e50b16;
}

.btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background: #000;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
}

.btn:hover {
	background: #e50b16;
}

.btn.red:hover {
	background: #000;
}

/*=====  End of Base Styles  ======*/


/*==============================
=            Layout            =
==============================*/

.doc-wrap {
	margin: 0 auto;
	min-width: 300px;
	max-width: 1480px;
	width: 100%;
	padding-top: 90px;
}

.top-header {
	min-height: 60px;
	max-height: 90px;
	border-bottom: solid 1px #000;
	height: 90px;
	background: #fff;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 998;
}

.wrap {
	margin: 0;
}

.brand-col .logo {
    height: 90px;
    display: block;
    float: left;
    border-right: solid 1px #ddd;
    box-sizing: border-box;
    padding: 25px;
}


.logo img {
    height: 40px;
    max-height: 40px;
}

.top-header .col {
	border-right: solid 1px #ddd;
	max-height: 90px;
	height: auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;

		flex-grow: 1;
}

.top-header .row {
	 -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
      -ms-flex-pack: justify;
          justify-content: space-around;
  width: auto;
  box-sizing: border-box;
    max-width: 1480px;
    margin: 0 auto;
}



.top-header .col:last-child {
	border-right: none;
}


.f-ad {
	text-align: center;
	border-bottom: solid 2px #000;
}

.f-ad .fad-banner {
	display: inline-block;
	max-width: 970px;
	background: #000;
}


.subscribe-col a.subscribe-link {
	display: block;
	vertical-align: top;
}

.subscribe-link figure,
.subscribe-link > div {
	display: inline-block;
	vertical-align: middle;
}

.subscribe-link figure img {
	height: 100%;
}

.subscribe-link .current-issue {
    height: 70px;
    overflow: hidden;
}

.subscribe-options {
	padding: 0 0 0 10px;
}

.subscribe-options h4 {
    font-size: 14px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}

.subscribe-options [class*="icon-"] {
	display: inline-block;
	background-repeat: no-repeat;
	width: 35px;
	background-position: center top;
	font-size: 0px;
	text-indent: -80px;
	overflow: hidden;
	height: 40px;
}

.subscribe-col {
    padding: 10px 25px 0;
    box-sizing: border-box;
    float: left;
    display: none;
}

.col.col-nav {
	width: 69%;
}

.f-ad .fad-banner a {
    max-width: 970px;
    display: block;
}

.f-ad .fad-banner a img {
	width: 100%;
}


.icon-print {
	background: url('../img/icon-print.png');
}

.icon-digital {
	background: url('../img/icon-digital.png');
}

.icon-feed {
	background: url('../img/icon-feeds.png');
}

.col-nav .top-bar, .col-nav .main-nav {
    display: block;
    position: relative;
    box-sizing: border-box;
}

.col-nav .top-bar {
	height: 55px;
}

.col-nav .main-nav {
	height: 35px;
	padding-right: 25px;
}

.col-nav .top-bar {
	padding: 0 25px;
}

.col-nav .top-bar {
	border-bottom: solid 1px #ddd;
}

.top-bar .current-date {
	font-size: 12px;
	color: #888;
	width: 20%;
}
.top-bar .social-links {
	width: 30%;
	box-sizing: border-box;
	padding-right: 15px;
}

.top-bar .social-links,
.top-bar .search-block,
.top-bar .current-date  {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	vertical-align: top;
	padding-top: 10px;
}



.top-bar .social-links li a {
    color: #000;
}

a:hover .fa-facebook-square {
	color: #4e69a2;
}

a:hover .fa-twitter-square {
	color: #55acee;
}

a:hover .fa-google-plus-square {
	color: #db4437
}

a:hover .fa-instagram {
	color: #125688;
}


.top-bar .search-block {
	width: 48%;
}

.search-block .search-field {
    border: solid 1px #ddd;
    height: 30px;
    border-radius: 5px;
    position: relative;
    padding: 0 10px;
}

.search-block .search-field input {
	display: block;
	width: 100%;
	height: 30px;
	border: none;
	outline: none;
	background: transparent;
}

.search-block .search-field button {
	position: absolute;
	background: none;
	border: none;
	height: 30px;
	line-height: 30px;
	padding: 0;
	right: 10px;
	top: 0;
}

.primary-nav {
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: justify;
          justify-content: flex-start;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
}

.primary-nav li {
    height: 35px;
    position: relative;
    border-right: solid 1px #ddd;
    flex: none;
    font-size: 14px;
    font-weight: bold;
}

.primary-nav li a {
	display: block;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	color: #969696;
	position: relative;
	z-index: 1;
}

.primary-nav li a:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	height: 0;
	opacity: 0;
	z-index: 3;
}

.primary-nav li a:hover{
	color: #000;
}
.primary-nav li a:hover:after {
	background: #000;
	opacity: 1;
	height: 2px;
}
.primary-nav li.active a:after {
	opacity: 1;
	height: 3px;
	background: #e50b16;
}

.primary-nav li.active a {
	color: #e50b16;
}

.primary-nav li:last-child {
	border-right: none;
}

.menu-trigger {
	display: none;
}
/*=====  End of Layout  ======*/

/*=====================================
=            page sections            =
=====================================*/

.page-section {
	border-bottom: solid 1px #ddd;
}
.page-wrap {
	padding: 0;
}

.page-section [class*="icon-"] {
	border-color: #ddd;
}

.page-section aside {
	border-left: solid 1px #ddd;
	padding:17px 25px 10px 20px;
}

.slider .section-header {
	border-bottom: solid 1px #ddd;
}

.section-header {
	height: 60px;
	line-height: 60px;
}

.section-header h2 {
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.slider {
	position: relative;
}

.slider li figure.featured-thumb {
    vertical-align: top;
    margin-bottom: 20px;
}

.entry-excerpt {
    box-sizing: border-box;
    vertical-align: top;
}

ul.post-meta li {
    font-size: 14px;
}

ul.post-meta li a {
	padding-bottom: 8px;
	display: block;
}

ul.post-meta li.category a {
    color: #e50b16;
    border-bottom: solid 1px #000;
}

ul.post-meta {
	margin-bottom: 30px;
}

p.excerpt {
    font-size: 16px;
    line-height: 24px;
    color: #555;
}

.page-section h1 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 32px;
}

a.read-more {
    font-size: 14px;
    color: #e50b16;
}

a.read-more:hover {
	color: #000;
}

a.read-more .fa {
	margin-left: 5px;
}


.sub-section {
	border-bottom: solid 1px #ddd;
}

/*.section-wrap {
	padding: 10px 25px 25px;
	box-sizing: border-box;
}*/

.row .article-item .thumbnail {	
	margin-bottom: 15px;
	position: relative;
}

.row .article-item .thumbnail img {
	width: 100%;
	min-height: 120px;
}

.post-meta {
	margin-bottom: 0px;
	display: flex;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
}

.post-meta li:first-child {
	padding-right: 30px;
}

.article-item .post-meta {
	margin-bottom: 0px;
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.article-item .post-meta li {
    font-size: 12px;            
    vertical-align: top;
}

.article-item .post-meta li.author {
	margin-right: 0;	
}

ul.post-meta li.category a {
	display: inline-block;
}

.article-item h3 {
	font-size: 15px;
}

.article-item p {
    font-size: 14px;
    line-height: 20px;
    color: #777;
    margin-bottom: 30px;
}

span.review-stars {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px 10px;
    background: rgba(255,255,255,0.8);
    font-size: 16px;
    color: #888;
}

span.review-stars .fa.rated {
	color: #e50b16;
}

.slider ul.post-meta li {
    margin-right: 20px;
}



/*=====  End of page sections  ======*/


/*===============================
=            Columns            =
===============================*/

.column-list li figure, .column-list li .entry {
    display: inline-block;
    vertical-align: top;
}

figure.author-thumb {
    width: 80px;
    position: relative;
    height: 100px;
    background: #000;
    border: solid 1px #ddd;
    overflow: hidden;
}

.author-thumb figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 10px;
    color: #fff;
    text-align: center;
    right: 0;
    line-height: 11px;
    background: #000;
    padding: 5px 2px;
}

.column-list .entry {
    width: 65%;
    padding-left: 10px;
    box-sizing: border-box;
}

a.cat-title {
    color: #e50b16;
    border-bottom: solid 1px #000;
    padding-bottom: 3px;
    display: inline-block;
    margin-bottom: 5px;
}

aside ul {
	margin-bottom: 0
}

.column-list li.item {
    padding-bottom: 10px;
    border-bottom: solid 1px #ddd;
    margin-bottom: 10px;
}

.column-list li.item:last-child {
    border-bottom: none;
    margin-bottom: 0
}

.column-list li h3 {
	margin-bottom: 7px;
}

.column-list li p {
	margin-top: 0;
}

.square-ad {
    max-width: 260px;
    max-height: 260px;
    margin-bottom: 15px;
}

aside .block {
	margin-bottom: 20px;
}

header.top-header {
	transition: all 0.3s ease-in-out;
}

header.top-header.nav-down {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

header.top-header.nav-up {
	top: -100px;
}


.page-wrap div .sub-section:last-child {
    border-bottom: none;
}


.left-sidebar,
.lounge-block {
	box-sizing: border-box;
}
.page-section aside.left-sidebar {	
	border-left: none;	
	padding: 10px 25px 25px 25px;
}

.lounge-block.sub-col {
    /*width: 80%;*/
    /*padding: 10px 25px;*/
}

.lounge-block .article-item {
    width: 30%;
}

/*.lounge-block .section-header {
    padding-left: 0;
}*/

.left-sidebar .section-header {
    padding-left: 0;
}


.open-talk-list h3 {
    margin-bottom: 10px;
}


.open-talk-list li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
    border-bottom: solid 1px #ddd;
}

.open-talk-list .comment-link {
	color: #e50b16;
}

a.link-btn {
    display: block;
    padding: 5px 0;
    border-bottom: solid 1px #ddd;
}

article.col-3.article-item {
    /*padding: 0 20px 0 0;*/
    margin-bottom: 20px;
}

.block.current-issue {
    text-align: center;
    padding: 20px;
    border: solid 1px #ddd;
    max-width: 260px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 30px;
}


.block.current-issue .title {
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.block.current-issue h4 {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
}

.current-issue.block img {
    margin-bottom: 20px;
    width: 100%;
}

.block.current-issue.black-bg {
    background: #000;
}

.block.current-issue.black-bg * {
	color: #fff;
}

.sidebar-articles li {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.sidebar-articles li figure.thumb {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    vertical-align: top;
}

.sidebar-articles li figure.thumb img {
	width: 100%;
}

.sidebar-articles li .entry {
    display: inline-block;
    width: 55%;
    margin-left: 10px;
    vertical-align: top;
}

.sidebar-articles li .entry h3 {
	margin-bottom: 8px;
	font-family: "Roboto", sans-serif;
}

.sidebar-articles li .entry h3 a {
	color: #e50b16;
}

.sidebar-articles li .entry p {
	margin-top: 0;
}

.btn.red {
	background: #e50b16;
	color: #fff;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar-articles {
	margin-bottom: 30px;
}
.sidebar-articles li:last-child {
	margin-bottom: 0;
}

.block.current-issue .subscribe-hover {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 50px;
	width: 130px;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	color: #fff;
	border: solid 2px #fff;
	opacity: 0;
	transition: all 0.2s ease-in-out;
	margin-left: -65px;
	margin-top: -60px;
}

.block.current-issue img {
	transition: all 0.2s ease-in-out;
}
.block.current-issue:hover img {
	opacity: 0.5;
}

.block.current-issue:hover .subscribe-hover {
	opacity: 1;
	margin-top: -25px;
}



.popular-tab ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
	border-bottom: solid 1px #ddd;
}
.popular-tab ul.tabs li{
	background: none;
	display: inline-block;
	padding: 5px 0;
	cursor: pointer;
	font-size: 14px;
	font-weight: 900;
	color: #000;
	opacity: 0.5;
	margin-right: 15px;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
	border-bottom: solid 1px #fff;
}

.popular-tab ul.tabs li.current{
	color: #e70b16;
	opacity: 1;
	border-bottom: solid 1px #e70b16;
}

.popular-tab .tab-content{
	display: none;
	padding: 20px 0;
}

.popular-tab .tab-content.current{
	display: inherit;
}


.post-title-list li {
    padding: 10px 0;
    border-bottom: solid 1px #ddd;
}

.post-title-list li h3 {
	margin-bottom: 0;
}

.post-title-list span.small-title {
    font-size: 12px;
    color: #aaa;
}

ul.social-links {
    text-align: right;
}

/*=====  End of Columns  ======*/

/**
 *
 * More Menu
 *
 */


.primary-nav .more-menu {
	position: absolute;
	right: 0;
	background: #fff;
	z-index: 5;
	font-size: 12px;
	display: none;
}

.primary-nav.overflowing .more-menu {
	display: block;
}

.primary-nav .more-menu:before {
	content: '';
	display: block;
	position: absolute;
	z-index: 4;
	left: -20px;
	width: 20px;
	top: -1px;
	box-shadow: inset -2px 0 5px rgba(0,0,0,0.1);
	height: 37px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+68&amp;0+0,1+68 */
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 68%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 68%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 68%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}

.more-menu span {
    display: inline-block;
    vertical-align: middle;
}

.more-menu .more-icon i {
    display: block;
    font-size: 16px;
}

.primary-nav li.more-menu a {
    padding: 0 10px 0 20px;
    color: #e50b16;
}

.more-menu span.more-txt {
    font-size: 11px;
    font-weight: 700;
    padding-left: 2px;
}

.menu-wrap {
    position: fixed;
    z-index: 1001;
    top: 0;
    right: -290px;
    width: 280px;
    background: #f3f3f3;
    box-sizing: border-box;
    bottom: 0;
    box-shadow: -3px 0 10px rgba(0,0,0,0.4);
    padding: 20px;
    max-width: 300px;
    transition: all 0.15s ease-in-out;
}

.menu-wrap.open {
	right: 0;
}

body.menu-opened:before {
    display: block;
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    top: 0;
}

.menu-wrap .menu-close {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	border-radius: 40px;
	border: solid 2px #fff;
	background: #e50b16;
	margin: 10px 0 0 -10px;
	color: #fff;
	box-shadow: -1px 1px 2px rgba(0,0,0,0.2);
}

.menu-wrap ul {
	display: block;
	padding: 50px 0;
}

.menu-wrap ul li {
	display: block;
	font-size: 16px;
	font-weight: 400;
}

.menu-wrap ul li a {
	display: block;
	padding: 8px 10px;
	border: solid 1px #ddd;
	border-bottom: none;
	background: #fbfbfb;
}

.menu-wrap ul li:last-child a {
	border-bottom: solid 1px #eee;
}

.primary-nav li.more-menu a:after {
    opacity: 0;
    display: none;
}

.primary-nav li:nth-last-child(2) {
	border-right: none;
}

.menu-wrap ul li.active a,
.menu-wrap ul li a:hover {
	background: #fff;
	color: #e50b16;
}

/*==============================
=            Footer            =
==============================*/

.page-footer {
	padding: 40px 0 0 0;
}

.page-footer .wrap {
	padding: 0 25px;
	box-sizing: border-box;
	flex-wrap: wrap;
}

.footer-nav .inline-column {
    width: 24.5%;
    display: inline-block;
    vertical-align: top;
}

.footer-nav li {
    display: block;
    font-size: 14px;
    line-height: 30px;
}

.thumb-nail.current-edition,
.footer-subscribe .subscribe-menu {
	display: inline-block;
	vertical-align: top;
}
.thumb-nail.current-edition {
    width: 24.5%;
    overflow: hidden;
    border: solid 1px #ddd;
}

.thumb-nail.current-edition img {
    display: block;
    width: 100%;
}

.footer-subscribe .subscribe-menu {
    width: 60%;
    margin-left: 30px;
}

.footer-subscribe-options li a span {
    display: inline-block;
    width: 40px;
    height: 31px;
    text-indent: -9000px;
    background-repeat: no-repeat;
    vertical-align: top;
    background-position: center top;
    color: #000;
}
.footer-subscribe-options li {
	display: block;
	margin-bottom: 10px;
}
.footer-subscribe-options li span.icon-digital {
    background-position-x: 3px;
}

.footer-subscribe-options strong {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    font-size: 14px;
}
ul.subscribe-sub-menu li {
    font-size: 12px;
    line-height: 25px;
}

ul.footer-subscribe-options {
    margin-bottom: 30px;
}

.page-footer .foot {
    border: 1px #ddd;
    border-style: solid none solid;
    padding: 40px 25px;
}

.page-footer .footer-top {
	padding-bottom: 40px;
}

.footer-brand.col {
    width: 145px;
    overflow: hidden;
}

.footer-brand.col img {
	width: 100%;
	display: block;
	height: auto;
}

.copyright.col {
    width: 30%;
}

.footer-menu-legal.col {
    width: 50%;
}

.footer-menu-legal.col ul li {
    display: inline-block;
}

.foot ul {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.foot p {
	display: block;
	margin: 0 0 10px 0;
	line-height: 13px;
	color: #888;
}

.footer-menu-legal p {
	font-size: 10px;
	margin-top: 10px;
}

.foot ul li a {
    display: inline-block;
    margin: 0 15px 0 0;
}
/*=====  End of Footer  ======*/


.video-container video {
    width: 100%;
}

.video-container {
	position: relative;
}

.video-container i.fa.fa-play-circle {
	font-size: 100px;
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
}

.title .slug {
    font-weight: 300;
    color: red;
    padding-top: 10px;
    font-style: italic;
    font-size: 14px;
}

.rating {
	font-size: 14px;
}

.rating ul {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.rating ul li {
	display: inline-block;
	font-size: 28px;
	position: relative;
}

.rating ul li .fa {
	color: #e50b16;
	position: absolute;
	top: 1px;
	left: 0;
	z-index: 2;
}
.rating ul li .fa.base {
	color: #ccc;
	position: relative;
	z-index: 1;
}


